/* Troubleshooting
* {
    border: 2px solid red;
}

OR

* {
    outline: 1px solid red;
}

*/


body {
    background-color: black;
    color: white;
    font-family: 'Space Mono', monospace;

    
}


.menu {
    width: auto 0;
    padding: 20px 40px;

    
}

/*using text decoration to remove default underline on the anchor tags*/
.menu a {
    background-color:  gray;
    height: 100px;
    padding: 10px 10px;
    border: 1px  darkgreen solid;
    border-radius: 25% 10%;
    margin: 5px;
    text-decoration: none;

}

a:hover{
    background-color: gold;
}

/*
#home {
    text-align: center;
}
*/


h2 {
    color: gold;
    font-size: 25px;
}

h3 {
    color: green;
}

li a {
    color: white;
}

span {
    font-weight: bold;
}
#contacts li{
    display: inline-block;
}
@media all and (max-width: 600px){

    .menu {
        width: auto 0;
        padding: 10px 10px;
        
    }

    /* using important word to ensue the style takes precedence*/
    .menu a {
        background-color:  gray;
        height: 10px;
        padding: 3px 3px;
        border: 1px  darkgreen solid;
        margin: 3px;
        text-decoration: none !important;
    }
    
}