
/* Troubleshooting 
* {
    border: 2px solid red;
}


OR

/*
* {
    outline: 1px solid red;
}

*/

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Space Mono', monospace, Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    width: 100vw;
    
}

.container {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
    'menu menu'
    'home skills'
    'projects projects'
    'contactForm contactForm'
    'social social';
    gap: 20px;
    justify-content: center;
    
}


.menu {
    grid-area: menu ;
    padding: 20px 20px;
    
    position: fixed;
    left: 30%;
}

/*using text decoration to remove default underline on the anchor tags*/
.menu a {
    background-color:  gray;
    padding: 10px 10px;
    border: 1px  darkgreen solid;
    border-radius: 10px;
    margin: 5px;
    text-decoration: none;

}

a:hover{
    background-color: gold;
    text-decoration: underline;
}


.home {
    grid-area: home;
    
}


h2 {
    color: gold;
    font-size: 25px;
}


li a {
    color: white;
}

span {
    font-weight: lighter;
    color: white;
}

img {
    border-radius: 50%;
}
.skills {
    grid-area: skills;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    'skills-main skills-main skills-main'
    'FE BE SA'
    'CN Automation CICD';
    gap: 20px;
}

.skills-main {
    grid-area: skills-main;
}

.FE {
    grid-area: FE;
}

.BE {
    grid-area: BE;
}

.CN {
    grid-area: CN;
}

.Automation {
    grid-area: Automation;
}

.CICD {
    grid-area: CICD;
}
.skills h3 {
    color: green;
    margin: 2px;
    border-radius: 12px;
    padding: 10px 10px;
    width: auto;
    border: 1px solid #676464;
}

.projects {
    grid-area: projects;
    width: 100vw;
}

.projects a {
    display: grid;
    border: 1px solid #676464;
    padding: 20px 20px;
    border-radius: 12px;
    width: 95vw;
    margin-top: 10px;
}

.contactForm {
    grid-area: contactForm;
    margin: auto 0;

}



form {
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
} 

#name, #email, #message, button{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 30px;
}

#message {
    margin-bottom: 20px;
}


button {
    padding: 0px;
    border: none;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    background-color: brown;
}
#contacts li{
    display: inline-block;
}

.social {
    grid-area: social;
    width: 100vw;
    padding-bottom: 20px;
}

/* media query */
@media screen and (width < 600px) {

    * {
    border: 2px solid red;
}

    body {
        /* background-color: grey; */
        font-size: small;
        width: 100vw;
    }

    .container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: auto;
    grid-template-areas: 
    'menu'
    'home'
    'skills'
    'projects'
    'contactForm'
    'social';
    gap: 20px;
    justify-content: center;
    }

    .menu-nav {
    display: grid;
    width: 100vw;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto ;
    grid-template-areas: 
    'menu-home menu-skills menu-projects menu-contactForm';
    gap: 5px;
    justify-content: center;
    }

    .menu-home { 
        grid-area: menu-home;
  
    }

    .menu-skills { 
        grid-area: menu-skills;
    }

    .menu-projects {
        grid-area: menu-projects;}

    .menu-contactForm {
        grid-area: menu-contactForm;}

    .home {
        width: 100vw;
        align-items: start;
    }

    .skills {
    width: 100vw;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: auto;
    grid-template-areas: 
    'skills-main'
    'FE'
    'BE' 
    'SA'
    'CN'
    'Automation' 
    'CICD';
    gap: 20px;
}
    
.projects a {
    width: 80vw;
    margin-top: 10px;
}

.contactForm {
    width: 100vw;
    margin: auto;
}

 
#name, #email, #message, button{
    height: 30px;
    width: 70vw;
    margin: 0 auto;
}

#message {
    margin-bottom: 20px;
}

}
