/* Troubleshooting 

* {
    border: 2px solid red;
}


OR

/*
* {
    outline: 1px solid red;
}

*/

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Space Mono', monospace, Arial, sans-serif;
    text-align: center;
    
}

.container {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
    'menu menu'
    'home skills'
    'projects projects'
    'contactForm contactForm'
    'social social';
    gap: 30px;
}


.menu {
    grid-area: menu ;
    width: auto;
    padding: 20px 40px;

    
}

/*using text decoration to remove default underline on the anchor tags*/
.menu a {
    background-color:  gray;
    height: 100px;
    padding: 10px 10px;
    border: 1px  darkgreen solid;
    border-radius: 10px;
    margin: 5px;
    text-decoration: none;

}

a:hover{
    background-color: gold;
    text-decoration: underline;
}


.home {
    grid-area: home;
    text-align: center;
}


h2 {
    color: gold;
    font-size: 25px;
}


li a {
    color: white;
}

span {
    font-weight: lighter;
    color: white;
}

img {
    border-radius: 50%;
}
.skills {
   /* display: flex;
    flex-flow: column; */
    grid-area: skills;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    'skills-main skills-main skills-main'
    'FE BE SA'
    'CN Automation CICD';
    gap: 20px;
}

.skills-main {
    grid-area: skills-main;
}

.FE {
    grid-area: FE;
}

.BE {
    grid-area: BE;
}

.CN {
    grid-area: CN;
}

.Automation {
    grid-area: Automation;
}

.CICD {
    grid-area: CICD;
}
.skills h3 {
    color: green;
    margin: 2px;
    border-radius: 12px;
    padding: 10px 10px;
    width: auto;
    border: 1px solid #676464;
}

.projects {
    grid-area: projects;
}

.projects a {
    display: grid;
    border: 1px solid #676464;
    padding: 20px 20px;
    border-radius: 12px;
    width: 95vw;
    margin-top: 10px;
}

.contactForm {
    grid-area: contactForm;

}


form {
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
} 

#name, #email, #message, button{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 30px;
}

#message {
    margin-bottom: 20px;
}


button {
    padding: 0px;
    border: none;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    background-color: brown;
}
#contacts li{
    display: inline-block;
}

.social {
    grid-area: social;
}
@media all and (min-width: 320px) and (max-width: 480px){

    .menu {
        width: auto 0;
        padding: 10px 10px;
        
    }

    /* using important word to ensue the style takes precedence*/
    .menu a {
        background-color:  gray;
        height: 10px;
        padding: 3px 3px;
        border: 1px  darkgreen solid;
        border-radius: 25% 10%;
        margin: 3px;
        text-decoration: none !important;
    }
    
}
